* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #F5F7FB;
	font-family: Roboto, sans-serif;
	font-weight: bold;
}

.logo_box {
	background-color: #FFFFFF;
	height: 68px;
}

.logo {
	width: 180px;
	height: 36px;
	margin: 16px 0 0 16px;
	object-fit: cover;
	object-position: 100% 50%;
}

.main {
	position: relative;
}

.standings {
	position: absolute;
	width: 335px;
	right: 20px;
	top: 20px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 4px rgba(181, 188, 204, 0.2);
	border-radius: 5px;
}

.standings__title {
	font-size: 24px;
	padding: 22px 0 20px;
	text-align: center;
	border-bottom: 1px solid rgba(181, 188, 204, 0.3);
}

.standings__table {
	padding: 13px 27px 29px 20px;
}

.standings__row {
	display: flex;
	align-items: center;
}

.standings__row__icon {
	width: 36px;
	text-align: center;
}

.medal {
	font-size: 36px;
}

.number {
	font-size: 25px;
}

.standings__row__name {
	font-size: 18px;
	width: 150px;
	padding: 17px 10px;
}

.standings__row__score {
	font-size: 18px;
	color: #A7B0BD;
	text-align: right;
	width: 82px;
}
