* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #F5F7FB;
}

.logo_box {
	background-color: #FFFFFF;
	height: 68px;
}

.logo {
	width: 180px;
	height: 36px;
	margin-top: 16px;
	margin-left: 16px;
	object-fit: cover;
	object-position: 100% 50%;
}
