*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
  --c-white: #ffffff;
  --c-lightgrey: #F5F7FB;
  --c-darkgrey: #A7B0BD;
  --c-purple: #731DFF;
  --c-blue: #0368FF;
  --c-red: #FF511A;
  --c-green: #5CCB28;
  --c-yellow: #FFC803;
  --c-black: #000000;
  --c-shadow: rgba(181, 188, 204, 0.2);

  --fs1: 24px;
  --fs2: 18px;
  --fs3: 14px;

  --ff: Roboto, sans-serif;
}

body {
	background: var(--c-lightgrey);
	font-family: var(--ff);
	font-weight: bold;
}

/* grid */
.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	margin: 15px 20px;
}

.grid-container7 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}

.column1 {
	grid-column: span 1;
}
.column2 {
	grid-column: span 2;
}
.column3 {
	grid-column: span 3;
}
.column4 {
	grid-column: span 4;
}
.column5 {
	grid-column: span 5;
}
.column6 {
	grid-column: span 6;
}
.column7 {
	grid-column: span 7;
}
.column8 {
	grid-column: span 8;
}
.column9 {
	grid-column: span 9;
}
.column10 {
	grid-column: span 10;
}
.column11 {
	grid-column: span 11;
}
.column12 {
	grid-column: span 12;
}

/* components */
.text-box{
	width: 100%;
	display: block;
	border: 1px solid var(--c-lightgrey);
	background: var(--c-lightgrey);
	border-radius: 4px;
	margin: 5px 0;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
	font-family: var(--ff);
}

.text-box:focus {
	background: var(--c-white);
	border: 1px solid var(--c-purple);
	outline: none;
}

.switch {
	position: relative;
	display: block;
	width: 40px;
	height: 22px;
	margin: 15px auto 0;
	cursor: pointer;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid var(--c-shadow);
	border-radius: 100px;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	border-radius: 50%;
	left: 2px;
	bottom: 2px;
	background: var(--c-darkgrey);
	transition: .4s;
}

input:checked + .slider {
	background: var(--c-purple);
	border-color: var(--c-purple);
}

input:checked + .slider:before {
	transform: translateX(18px);
	background: var(--c-white);
}

.hide {
	display: none;
}

/* views */

.logo-box {
	background: var(--c-white);
	height: 68px;
}

.logo {
	width: 180px;
	height: 36px;
	margin: 16px 0 0 16px;
	object-fit: cover;
	object-position: 100% 50%;
}

.main {
	position: relative;
}

.side-info__empty {
	height: 80px;
	margin: 10px 0 5px 0;
}

.horizontal-line {
	position: absolute;
	display: block;
	height: 1px;
	left: -20px;
	right: -20px;
	background: var(--c-shadow);
	margin-top: 5px;
	z-index: 1;
	pointer-events: none;
}

.side-info__part__title {
	font-size: var(--fs2);
	margin: 20px 0 10px;
}

.side-info__part__details {
	font-size: var(--fs3);
	color: var(--c-darkgrey);
	min-width: 135px;
}

.side-info__part__details p {
	padding: 6px 0 5px;
	margin: 5px 0;
}

.player {
	padding: 10px 10px;
	width: 100px;
	background: var(--c-white);
	box-shadow: 0px 0px 4px var(--c-shadow);
	border-radius: 5px;
	position: relative;
}

.player__profile__logo,
.player__add__btn {
	position: relative;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	margin: 10px auto 0;	
	color: var(--c-white);
	font-size: 21px;
	text-align: center;
	padding: 10px 0;
	background: var(--c-darkgrey);
	cursor: pointer;
}

.tooltip {
	position: absolute;
	width: 136px;
	height: 40px;
	bottom: 100%;
	left: 50%;
	margin-left: -68px;
	border-radius: 50px;
	background: var(--c-white);
	box-shadow: 0px 0px 4px var(--c-shadow);
	padding: 8px;
}

.tooltip::after {
	content: "";
	display: block;
	position: absolute;
	width: 8px;
	height: 8px;
	background: var(--c-white);
	top: 36px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
}

.tooltip__color {
	display: block;
	float: left;
	margin: 2px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: relative;
}

.blue {
	background: var(--c-blue);
}

.red {
	background: var(--c-red);
}

.green {
	background: var(--c-green);
}

.yellow {
	background: var(--c-yellow);
}

.black {
	background: var(--c-black);
}

.fa-check {
	font-size: 11px;
	position: absolute;
	top: 5px;
	left: 5px;
	color: var(--c-white);
	display: none;
	pointer-events: none;
}

.tooltip__color:hover i,
.tooltip__color.selected i {
	display: inline;
}

.player__profile__name {
	font-size: var(--fs3);
	text-align: center;
	margin: 2px auto 0;
	padding: 3px;
	background: var(--c-white);
	border-color: var(--c-white);
}

.player__profile__name:focus {
	border-color: var(--c-lightgrey);
}

.player__part__subsum {
	font-size: var(--fs3);
	text-align: center;
	padding: 4px 0 1px;
	margin: 18px 0 10px;
}

.player__delete {
	position: absolute;
	bottom: -25px;
	padding-top: 10px;
	font-size: var(--fs3);
	margin: 0 -10px;
	width: 100%;
	text-align: center;
	color: var(--c-red);
	text-decoration-line: underline;
	cursor: pointer;
	opacity: 0%;
	display: block;
}

.player:hover .player__delete {
	/*visibility: visible;*/
	opacity: 100%
}

.player__add {
	width: 100px;
	padding: 10px;
}

.player__add__text {
	font-size: var(--fs3);
	margin: 6px auto;
	text-align: center;
}

.standings {
	background: var(--c-white);
	box-shadow: 0px 0px 4px var(--c-shadow);
	border-radius: 5px;
	position: relative;
	z-index: 2;
}

.standings__title {
	font-size: var(--fs1);
	padding: 22px 0 20px;
	text-align: center;
	border-bottom: 1px solid var(--c-lightgrey);
}

.standings__table {
	padding: 13px 27px 29px 20px;
}

.standings__row {
	display: flex;
	align-items: center;
	position: relative;
}

.standings__row__icon {
	width: 36px;
	text-align: center;
}

.medal {
	font-size: 36px;
}

.number {
	font-size: 25px;
}

.standings__row__name {
	font-size: var(--fs2);
	padding: 17px 10px;
}

.standings__row__score {
	font-size: var(--fs2);
	color: var(--c-darkgrey);
	position: absolute;
	right: 0;
}
